*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    /* border: 2px solid white; */
}



#nav-bar {
    position: fixed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    margin: 0 auto;
    max-width: 1000px;

}

.nav-link {
    display: inline-block;
}

.logo {
    width: 200px;
    height: 100%;
    /* border: 2px solid black; */
    min-width: 200px;
    padding: 5px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 25%;
}

.link-container {
   /* margin-top: 35px; */
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 600px;
}

.nav-link {
    /* margin-right: 50px; */
}

.nav-link a {
    text-decoration: none;
    color: #ff66c4;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link a:hover {
    background: linear-gradient(#ff66c4, black 100%);
    color: black;
}

main {
    position: relative;
    top: 200px;
}

#form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: lightgrey;
    height: 150px;
    /* border: 2px solid white; */
    margin-bottom: 30px;
    /* gap: 30px; */
}

#form h2 {
    font-weight: 600;
    background: linear-gradient(to right,#ff66c4, lightgrey, #ff66c4);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	
	100% {
		background-position: 400%;
	}
}


#form input {
    color: lightgrey;
    height: 40px;
    width: 300px;
    padding: .7rem .6rem;
    font-size: 1.2rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#form #submit {
    width: 150px;
    background: lightgrey;
    color: black;
    padding-bottom: 10px;
    border: none;
}



#vid-container {
    display: flex;
    justify-content: center;
    /* border: 2px solid lightgrey; */

}

@media (max-width: 600px;) {
    
}
